---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="p-10">
		<section class="flex flex-col items-center justify-between gap-4">
			<img
				class="rounded-full"
				src="https://media.licdn.com/dms/image/C4E0BAQHWzfCox_QciQ/company-logo_200_200/0/1675968686721?e=1727913600&v=beta&t=qDCkDo5APsjTK9UuJnE320EKuQXg0heYJMpQs6gkpOQ"
				alt="makers image"
			/>
			<h1 class="text-black font-bold text-3xl">Inventory Makers Tech</h1>
			<a
				href="/inventory/chat"
				class="bg-gray-500 text-white p-4 rounded-3xl">ir al chat</a
			>
		</section>
	</main>
</Layout>
