---
import Layout from "../../layouts/Layout.astro"
import ChatField from "../../components/react/ChatField"
import Input from "../../components/react/Input"
---
<Layout title="ChatBot">
    <main>
        <ChatField />
        <Input />
    </main>
</Layout>