---
import Layout from "../../layouts/Layout.astro"
import ChatField from "../../components/react/ChatField"
---
<Layout title="ChatBot">
    <main>
        <ChatField client:visible/>
    </main>
</Layout>